<body>
<div id="contact">
    <div class="contact container">
      <caption>Contact Info</caption>
      <div class="contact-items">
        <div class="contact-item">
          <div class="contact-info">
            <form class="section1" [formGroup]="formGroup" (ngSubmit)="sendmail(this.formGroup.value)" >
                <div class="text_field">
                    <input for="name" class="form-control" formControlName="name" type="text" placeholder="Name"/> 
                    <span class="text-white" *ngIf="formGroup.controls['name'].touched && formGroup.hasError('required','name')">
                        *Name is required!!
                    </span>   
                </div>
                <div class="text_field">
                    <input for="contactnumber" class="form-control" formControlName="contactnumber" type="text" placeholder="Contact Number"/>
                    <span class="text-white" *ngIf="formGroup.controls['contactnumber'].touched && formGroup.hasError('required','contactnumber')">
                        *Contact Number is required!!!!
                    </span>    
                </div>
                <div class="text_field">
                    <input for="email" class="form-control" formControlName="email" type="email" placeholder="Email"/>
                    <span class="text-white" *ngIf="formGroup.controls['email'].touched && formGroup.hasError('required','email')">
                        *Email is required!!!!
                    </span>    
                </div>
                <div >
                    <textarea class="text-box" rows="8" name="Message" placeholder="Message"></textarea>
                </div><br><br>  
                <div>
                    <button class="button" type="button" (click)="sendmail(this.formGroup.value)"  value="Send Message">send Message</button>
                </div> 
                    
            </form>
          </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>E</span>asily<span> T</span>rack<span> S</span>ales<span> &</span><span> L</span>eads</h1>
      </div>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/facebook-new.png" alt="Facebook" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/instagram-new.png" alt="Instagram" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/twitter-squared.png" alt="Twitter"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin"/></a>
        </div>
      </div>
      <p style="margin-left: 475px;">Copyright © 2022. All rights reserved</p>
    </div>
</footer>


