<body>
<div id="contact">
    <div class="contact container">
      <caption>Contact Info</caption>
      <div class="contact-items">
        <div class="contact-item">
          <div class="contact-info">
            <form class="section1" [formGroup]="contactGroup" >
                <div class="text_field">
                    <input for="fname" class="form-control" formControlName="fname" type="text" placeholder="Name"/> 
                     
                </div>
                <div class="text_field">
                    <input for="contactnumber" class="form-control" formControlName="contactnumber" type="text" placeholder="Contact Number"/>
                        
                </div>
                <div class="text_field">
                    <input for="email" class="form-control" formControlName="email" type="email" placeholder="Email"/>
                       
                </div>
                <div class="text-field"  type="email">
                  <input class="text-box" rows="8"  placeholder="Message">
                                 
                </div><br><br>  
                <div>
                    <button class="button" type="button"  (click)="contactdetails(this.contactGroup.value)" (click)="sendemail(this.contactGroup.value)" (click)="sendmail(this.contactGroup.value)">send Message</button>
                </div> 
                    
            </form>
          </div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>E</span>asily<span> T</span>rack<span> S</span>ales<span> &</span><span> L</span>eads</h1>
      </div>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/facebook-new.png" alt="Facebook" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/instagram-new.png" alt="Instagram" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/twitter-squared.png" alt="Twitter"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin"/></a>
        </div>
      </div>
      <p style="margin-left: 475px;">Copyright © 2022. All rights reserved</p>
    </div>
</footer>


