<body>
    <div class="center">
        <h1 class="section1" style="color: rgb(90, 90, 248);">Contact Us</h1><br>
        <h6 class="section1" style="color: rgb(90, 90, 248);">Got questions about LinkTrackr? Just send us a message and we’ll get back to you as soon as possible.</h6><br>
        <form class="section1" [formGroup]="formGroup" (ngSubmit)="sendmail(this.formGroup.value)" >
            <div class="text_field">
                <input for="name" class="form-control" formControlName="name" type="text" placeholder="Name"/> 
                <span class="text-danger" *ngIf="formGroup.controls['name'].touched && formGroup.hasError('required','name')">
                    *Name is required!!
                </span>   
            </div>
            <div class="text_field">
                <input for="contactnumber" class="form-control" formControlName="contactnumber" type="text" placeholder="Contact Number"/>
                <span class="text-danger" *ngIf="formGroup.controls['contactnumber'].touched && formGroup.hasError('required','contactnumber')">
                    *Contact Number is required!!!!
                </span>    
            </div>
            <div class="text_field">
                <input for="email" class="form-control" formControlName="email" type="email" placeholder="Email"/>
                <span class="text-danger" *ngIf="formGroup.controls['email'].touched && formGroup.hasError('required','email')">
                    *Email is required!!!!
                </span>    
            </div>
            <div >
                <textarea class="text-box" rows="5" cols="20" name="Message" placeholder="Message"></textarea>
            </div><br><br>  
            <div>
                <button class="button" type="button" (click)="sendmail(this.formGroup.value)"  value="Send Message">send Message</button>
            </div> 
                
        </form>
    </div>
</body>
