<body>
    <table> 
      <th>
        <td><button class="btn btn-info btn-lg btn-block " routerLink="/add"><h3>Add Content</h3></button></td>
        <tr>
          <td><h3>Topic</h3></td>
          <td><h3>Message</h3></td>
          <td><h3>Options</h3></td>
        </tr>
        <tr *ngFor="let obj of object" style="color: white;" >
            <td><h1>{{obj.Topic}}</h1></td>
            <td><h3>{{obj.message}}</h3></td>
            <td><button (click)="editcontent(obj)" class="btn btn-primary"><h3>Edit</h3></button></td>
            <td><button (click)="deletecontent(obj,obj)" class="btn btn-danger"><h3>Delete</h3></button></td>
        </tr>
    </table>
</body>


