/* @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}


.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:88px;
bottom:0;
height: 86%;
left:0;
width: 60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/*-------------------------------------*/
/* .move{
    margin-left: 300px;
    margin-top: 300px;
    width: 300px;
} */

body {
  font-family: 'Roboto';
  background-image: linear-gradient(-90deg , #3f5efb, #15175b);
  display: grid;
  place-items: center;
  margin: 0;
  min-height: 100vh;
}
.main{
      grid-template-columns: 30% 68%;
}
.page {
  position: relative;
  display: grid;
  grid-template-columns: 200px auto;
  background-image: linear-gradient(-70deg , #f5f7ff, #c7c7c7);
  height: 600px;
  width: 100%;
  margin: 40px 0;
  border-radius: 80px;
}
.main1{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border-right: 10px solid #44e4c4;
}

.menu {
  margin: 20px;
  border-radius: 60px;
  box-sizing: border-box;
  list-style-type: none;
  height: calc(100% - 40px);
  width: 160px;
  background-image: linear-gradient(-40deg , #050b23, #26115f);
}

.menu a.menu-item {
  display: block;
  text-decoration: none;
}

.menu a.menu-item:hover .icon,
.menu a.menu-item.active .icon {
  background-image: linear-gradient(-70deg , #08bfb3, #44e4c4);
  color: #eee;
  border-radius: 10px 10px 0 10px;
  z-index: 2;
}

.menu a.menu-item:hover .text,
.menu a.menu-item.active .text {
  background-image: linear-gradient(-90deg , #2a71e5, #1a71a8);
  z-index: -1;
  border-radius: 10px 0 0 10px;
  width: 74%;
}

.menu .icon {
  position: relative;
  color: #0e8af6;
  margin: 5px;
  padding: 10px;
}

.menu .text {
  color: #eee;
  padding: 20px 20px 20px 25px;
  margin: 0 0 0 -30px;
  margin-left: 40px;
}

.menu p {
  line-height: 24px;
  vertical-align: middle;
  display: inline-block;
}

.menu a.logo {
  display: block;
  width: 100%;
  height: 60px;
  text-align: center;
  visibility: hidden;
}

.main ul {
  list-style: none;
  margin-right: 20px;
  padding: 0;
}

.main ul li {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border-right: 10px solid #44e4c4;
}

.main ul li:hover {
  transform: scale(1.1);
  box-shadow: 3px 5px 12px #555;
}

.main ul li div:not(:last-child) {
  border-right: 2px solid #eee;
}

.main ul li div {
  padding: 5px 10px;
}

h2 {
  max-width: 150px;
  margin: 10px 20px;
  padding: 10px 40px;
  border-bottom: 3px solid #44e4c4;
}
li{
  text-align: justify;
}