table {
  border-collapse: collapse;
  width: 65%;
  margin-left: 250px;
  background:transparent;
}
body{
  background-color: rgb(23, 23, 65);
  background-size: cover;
}
button h3{
  border: transparent;
  border-radius: 6px;
} 
th{
  font-size: 20px;
} 
th, td {
  text-align: left;
  padding: 10px;
}
h2{
    margin-left: 485px;
    margin-top: 40px;
}
tr{
  color: white;
}

tr:nth-child(even) {background-color: #c97171;}