table {
  border-collapse: collapse;
  width: 65%;
  margin-left: 17%;
  background:transparent;
}
body{
  background-color: rgb(23, 23, 65);
  background-size: cover;
}
button h3{
  box-shadow: #0a0a0a;
  border-radius: 6px;
} 

  

th{
  font-size: 20px;
} 
th, td {
  text-align: left;
  padding: 10px;
}
h2{
    margin-left: 485px;
    margin-top: 40px;
}
.heading{
  color: white;
  width:100%;
  border: 2px solid wheat;
  background-color:#c97171 ;
}

tr:nth-child(even) {background-color: #c97171;}
::placeholder{
  color: rgb(12, 11, 11);
}
.head{
  color: rgb(243, 232, 232);
  width: 30%;
}
.form{
 margin-left: 50%;
 width: 50%;
}
input{
  width: 50%;
  height:20%
}
form .text_field {
  position: relative;
  border-bottom: 2px solid #df4e4e;
  margin: 50px 0;
  
}
.text_field input {
  width: 100%;
  height: fit-content;
  resize: none;
  padding: 0 5px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: #0a0a0a;
}
.text_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: rgb(183, 218, 218);
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events:none;
   transition: 0.5s; 
}
.Topic{
  color:#c97171;
  font-size: 18px;
  font-weight: bolder;
}
.text-box{
    resize: none;
    width: 100%;
    border-radius: 5px;
    background-color:  rgb(23, 23, 65);       
    font-size: 18px; 
    padding: 8px;
    color: white;
    
}
form{
  background: transparent;
}