<div class="bag">
 <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title"><span>Features</span></h1>
      </div>
      <div class="all-projects">
          <div class="project-item">
          <div class="project-info">
            <h1><a [routerLink]="['/ppctracking']" (click)="count1()">TELEVISION TRACKING</a></h1><br>
            <h2 class="icon" >👁‍🗨{{this.api.count1}}</h2>
            <h1 class="icon" (click)="like1()" >👍🏼{{this.api.like1}}</h1>
          </div>
          <div class="project-img">
            <img src="../../assets/television tracking.png" alt=" img ">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1><a [routerLink]="['/pixeltracking']"(click)="count2()">TENDER TRACKING</a></h1>
            <h2 class="icon" >👁‍🗨{{this.api.count2}}</h2>
            <h1 class="icon" (click)="like2()" >👍🏼{{this.api.like2}}</h1>
          </div>
          <div class="project-img">
            <img src="../../assets/tender tracking.png" alt=" img ">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1><a [routerLink]="['/postbacktracking']"(click)="count3()">SOCIAL MEDIA MONTORING </a></h1>
            <h2 class="icon" >👁‍🗨{{this.api.count3}}</h2>
            <h1 class="icon" (click)="like3()" >👍🏼{{this.api.like3}}</h1>
          </div>
          <div class="project-img">
            <img src="../../assets/Media-Monitoring.jpg" alt=" img ">
          </div>
        </div>
      </div>   
  </div>

<section id="footer">
  <div class="footer container">
    <div class="brand">
      <h1><span>E</span>asily<span> T</span>rack<span> S</span>ales<span> &</span><span> L</span>eads</h1>
    </div>
    <div class="social-icon">
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/facebook-new.png" alt="Facebook" /></a>
      </div>
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/instagram-new.png" alt="Instagram" /></a>
      </div>
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/twitter-squared.png" alt="Twitter"/></a>
      </div>
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin"/></a>
      </div>
      <div class="social-item">
        <a ><img src="https://img.icons8.com/nolan/64/google-plus.png" alt="linkedin" routerLink="contact" /></a>
      </div>
    </div>
    <p>Copyright © 2022. All rights reserved</p>
  </div>
</section>