<body>
<section id="hero">
    <div class="hero">
      <div>
        <h1>Tracking<span></span></h1>
        <h1>Made<span></span></h1>
        <h1>Easy<span></span></h1>
      </div>
    </div>
</section>
<section>
  <div class="homecontent">
    The promise of media advertising is great. 
    It’s an opportunity for a brand to tell its story directly to the ultimate consumer.
  </div><br><br>
  <div class="homepara">
      It’s an opportunity to build awareness and project a powerful brand image. 
      It’s an opportunity to create and build brand equity. It’s an opportunity to bypass the trade, 
      an opportunity to circumvent competitors. In actual practice, however, the promise of media advertising is seldom realized. 
      In fact, the opposite is true. Media advertising is probably the most inefficient and least productive expenditure in the typical company’s marketing budget.
  </div><br><br>
  <div>
      <div class="homepara">
    
        <div>

          <table>
            <thead>
            <tbody *ngFor="let obj of object">
              <tr>
                <td><h1 style="color: white ;">{{obj.Topic}}</h1></td>
              </tr><br><br>
              <tr>
                <td>{{obj.message}}</td>
              </tr>
            </tbody>
          </table>
        </div>
</div>
</div>
<br><br><br>
</section>    
<section id="footer">
  <div class="footer container">
    <div class="brand">
      <h1><span>E</span>asily<span> T</span>rack<span> S</span>ales<span> &</span><span> L</span>eads</h1>
    </div>
    <div class="social-icon">
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/facebook-new.png" alt="Facebook" /></a>
      </div>
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/instagram-new.png" alt="Instagram" /></a>
      </div>
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/twitter-squared.png" alt="Twitter"/></a>
      </div>
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin"/></a>
      </div>
    </div>
    <div style="margin-left: -560px;">
      <p>Copyright © 2022. All rights reserved</p>
    </div>
    
  </div>
</section>
</body>
    
    