<div class="bg-color">
    <div class="content1">
    <h1><b>
        <i>
            <span>Tracking</span>
            <span>Made</span> 
            <span>Easy </span>       
        </i></b>
    </h1>
</div>
<div class="content1">
    <h2>
        <span>"The</span>
        <span>Promise</span>
        <span>Of Media</span>
        <span>Advertising</span>
        <span>Is Great.</span><br>
        <span>It’s</span>
        <span>an opportunity</span>
        <span>for a</span>
        <span>brand</span>
        <span>to tell</span>
        <span>its story</span>
        <span>directly</span>
        <span>to the ultimate customer."</span>
    </h2>
</div>
</div>

<section class="section2">
    <div class="row">
        <div>
            <a>
                Shorten & Cloak Your Affiliate Links Easily
            </a>
        </div>
        <div class="">
            <img width="600" src="../../assets/overview 1.jpg"/>
        </div>
    </div>
</section>
