<body>
    <section><br><br><br><br><br>
        <div class="homecontent">
            <span>Advertisement</span> 
            <span>Tracking</span>
        </div><br><br>
        <div class="lineUp">
            <div class="homepara" >
                Advertising is a key component of all media whether print or television. The insight to refine advertising plans, advertising monitoring and make strategic business decisions is extremely essential. Media tracking of India owns an efficient advertisement tracking tools that offers you the details of which ad appeared in which medium and how many times
            </div><br>
            <div class="homeheading">
                "It is not just your advertisement that matters, tracking it to identify if it is fulfilling its job is also vital" 
            </div><br><br>
            <div class="homeheading">
                Why advertisement tracking?
            </div>
            <div class="homecontent1">
                Advertisement tracking can even be helpful to determine the total ROI (return on investment) value of advertising per month. It even enables you to track competitors advertising campaigns and identify where they stand. The clips from our advertising clipping service can be used as proof of advertising an event or campaign. Our video clipping service is immaculate as we offer high definition videos.
            </div><br><br>
            <div>
                <img class="img" src="../../assets/banner-tracking.jpg" alt="">
            </div>
            <div class="homeheading">
                We are proud to be critics
            </div>
            <div class="homepara">
                Has the message conveyed by you, well received by the target audience? Media Tracking of India offers you to identify the same with our advertisement tracking services. We provide the opportunity to rectify any errors that may have been overlooked initially before much damage is done
            </div>
        </div>
    </section><br><br><br>
    
    <section id="footer">
        <div class="footer container">
          <div class="brand">
            <h1><span>E</span>asily<span> T</span>rack<span> S</span>ales<span> &</span><span> L</span>eads</h1>
          </div>
          <div class="social-icon">
            <div class="social-item">
              <a href="#"><img src="https://img.icons8.com/nolan/64/facebook-new.png" alt="Facebook" /></a>
            </div>
            <div class="social-item">
              <a href="#"><img src="https://img.icons8.com/nolan/64/instagram-new.png" alt="Instagram" /></a>
            </div>
            <div class="social-item">
              <a href="#"><img src="https://img.icons8.com/nolan/64/twitter-squared.png" alt="Twitter"/></a>
            </div>
            <div class="social-item">
              <a href="#"><img src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin"/></a>
            </div>
          </div>
          <p style="margin-left: -475px;">Copyright © 2022. All rights reserved</p>
        </div>
      </section>
</body>
