<app-navigation></app-navigation>
<body>
    <div class="center"  id="login">
      <h1 class="text-light-dark" >LOGIN</h1>
      <form [formGroup]="loginForm">
        <div class="text_field">
          <input type="text" required placeholder="Username" formControlName="Username" pattern="^[a-zA-Z]*" />
                <span class="text-warning" *ngIf="loginForm.controls['Username'].touched && loginForm.hasError('required','Username')">
                    *User Name is required!!
                </span>  
                <span class="text-warning" *ngIf="loginForm.hasError('pattern','Username')">
                    *User Name should be in Alphabets!!!!
                </span>
        </div>
        <div class="text_field">
          <input type="password" required placeholder="Password" formControlName="password" pattern="[A-Za-z0-9@!_]{4,}" />
          <span class="text-warning" *ngIf="loginForm.controls['password'].touched && loginForm.hasError('required','password')">
            *Password is required!!!!
          </span>  
          <span class="text-warning" *ngIf="loginForm.hasError('pattern','password')">
            *password should contain atleast 4 characters!!!
          </span> 
        </div>
        <input type="submit"  (click)="alogin(this.loginForm.value)"  value="Login" />
      </form>
    </div><br><br>
   <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span> T</span>rack<span> M</span>ade<span> E</span>asy</h1>
      </div>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/facebook-new.png" alt="Facebook" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/instagram-new.png" alt="Instagram" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/twitter-squared.png" alt="Twitter"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin"/></a>
        </div>
        <div class="social-item">
          <a><img src="https://img.icons8.com/nolan/64/google-plus.png" alt="linkedin" routerLink="contact" /></a>
        </div>
      </div>
      <p style="margin-left: 550px;">Copyright © 2022. All rights reserved</p>
    </div>
  </section>
</body>
   
   