<div class="section1">
  <div class="bg-color">
    <h1>
      30-Day Risk-Free Guarantee.
    </h1><br><br>
    <h3>
      Save BIG. Pay Only For What You Use. Upgrade or Downgrade Anytime.
    </h3>
  </div>
</div>
<div class="lineUp">
  <div class="container"> 
    <div class="card bright_orange">
      <img src="../images/icon-sedans.svg" alt="">
      <h4><span>HYPER</span></h4><br>
      <h5><i><span>Everything you</span><span>Need</span></i></h5><br>
      <h5><span style="text-decoration: line-through ; color:rgb(27, 30, 212)">$77</span><span>--</span>
      <span style="color:rgb(85, 87, 207)">$47</span><span><h6>per month</h6></span></h5><br>
      <p>
        1,000 Tracking Links,
        100,000 Clicks / Month,
        Cloaking & Remarketing,
        Your Custom Domains,
        Import Affiliate CSV Files,
        Pixel & Postback Tracking,
        Split Testing & Rotator.
        </p>
      <button class="btn" routerLink="/signup">Sign Up</button>
    </div><div class="card bright_orange">
        <img src="../images/icon-sedans.svg" alt="">
        <h4><span>PRO</span></h4><br>
        <h5><i><span>Best Bang</span><span>for Buck</span></i></h5><br>
        <h5><span style="text-decoration: line-through ; color:rgb(27, 30, 212)">$47</span><span>--</span>
        <span style="color:rgb(85, 87, 207)">$27</span><span><h6>per month</h6></span></h5><br>
        <p>
            500 Tracking Links
            50,000 Clicks / Month
            Cloaking & Remarketing
            Your Custom Domains
            Import Affiliate CSV Files
            Pixel & Postback Tracking
        </p>
        <button class="btn" routerLink="/signup">Sign Up</button>
      </div><div class="card bright_orange">
        <img src="../images/icon-sedans.svg" alt="">
        <h4><span>BASIC</span></h4><br>
        <h5><i><span>Getting</span><span>Started</span></i></h5><br>
        <h5><span style="text-decoration: line-through ; color:rgb(27, 30, 212)">$27</span><span>--</span>
        <span style="color:rgb(85, 87, 207)">$17</span><span><h6>per month</h6></span></h5><br>
        <p>
            100 Tracking Links
            10,000 Clicks / Month
            Cloaking & Remarketing
            Use Default Domains
            Import Affiliate CSV Files
        </p>
        <button class="btn" routerLink="/signup">Sign Up</button>
      </div>    
  </div>
</div>