<div class="bag">
<section id="contact">
  <div class="contact container">
    <div>
      <h1 class="section-title">Pric<span>ings</span></h1>
    </div>
    <div class="contact-items">
      <div class="contact-item">
        <div class="contact-info">
          <h1><span>HYPER</span></h1><br>
      <h3><em><span>Everything you</span><span>Need</span></em></h3><br>
      <h3><span style="text-decoration: line-through ; color:rgb(194, 115, 115)" >$77</span><span>--</span>
      <span style="text-decoration: line-through ; color:rgb(194, 115, 115)" >$47</span><span><h4>per month</h4></span></h3><br>
      <p style="font-size: 20px;">
        1,000 Tracking Links,
        100,000 Clicks / Month,
        Cloaking & Remarketing,
        Your Custom Domains,
        Import Affiliate CSV Files,
        Pixel & Postback Tracking,
        Split Testing & Rotator.
        </p><br><br>
      <button class="btn" routerLink="/signup">Sign Up</button>
        </div>
      </div>
      <div class="contact-item">
        <div class="contact-info">
          <h1><span>PRO</span></h1><br>
        <h3><em><span>Best Bang</span><span>for Buck</span></em></h3><br>
        <h3><span style="text-decoration: line-through ; color:rgb(194, 115, 115)">$47</span><span>--</span>
        <span style="color:rgb(194, 115, 115)">$27</span><span><h4>per month</h4></span></h3><br>
        <p style="font-size: 20px;">
            500 Tracking Links
            50,000 Clicks / Month
            Cloaking & Remarketing
            Your Custom Domains
            Import Affiliate CSV Files
            Pixel & Postback Tracking
        </p><br><br>
        <button class="btn" routerLink="/signup">Sign Up</button>
        </div>
      </div>
      <div class="contact-item">
        <div class="contact-info">
          <h1><span>BASIC</span></h1><br>
          <h3><em><span>Getting</span><span>Started</span></em></h3><br>
          <h3><span style="text-decoration: line-through ; color:rgb(194, 115, 115)">$27</span><span>--</span>
          <span style="text-decoration: line-through ; color:rgb(194, 115, 115)">$17</span><span><h4>per month</h4></span></h3><br>
          <p style="font-size: 20px;">
              100 Tracking Links
              10,000 Clicks / Month
              Cloaking & Remarketing
              Use Default Domains
              Import Affiliate CSV Files
          </p><br><br>
          <button class="btn" routerLink="/signup">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>
</div>