<body>
     <div class="center" id="login">
      <h1 class="text-light-dark" >LOGIN</h1>
      <form>
       <div class="text_field">
        <input type="text" required placeholder="Username"/>
       </div>
       <div class="text_field">
        <input type="password" required placeholder="Password" />
       </div>
       <div class="pass">Forgot Password?</div>
       <input type="submit" value="Login" />
       <div class="footer">
       <label for="signup" class="signup_link">Not a member? <a routerLink="/signupform" class="text-primary">Signup</a></label></div>
      </form>
     </div>
    </body>
    
    