<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="navbar-header">
        <img width="60" height="70" alt="Logo" src="../../assets/t-icon-modified.ico"/>
        <a style="font-size: 30px;" class="navbar-brand"  href="#" >  𝓣𝓻𝓪𝓬𝓴𝓢𝓹𝓸𝓽</a>
      </div>
      <ul class="nav navbar-nav">
          <li class="nav-item"><a  class="nav-link" routerLink=""
            >Home</a>
        <li class="nav-item"><a class="nav-link" routerLink="features"
            >Features</a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="contact"
            >Contact Us</a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="about"
            >About</a>
         </li>
         <li class="nav-item"><a class="nav-link" routerLink="tutorial"
            >Tutorial</a>
         </li>
         <li class="nav-item"><a class="nav-link" routerLink="pricing"
          >Pricing</a>
       </li>
         <li class="nav-item"><a class="nav-link" routerLink="services"
            >Our Services</a>
         </li>
      </ul>
    </div>
  </nav>
 
 <!-- <section id="header">
  <div class="nav-bar">
    <div class="brand">
      <a href="#hero">
        <img width="60" src="../../assets/t-icon-modified.ico">
        <h1><span>𝓣𝓻𝓪𝓬𝓴𝓢𝓹𝓸𝓽</span></h1>
      </a>
    </div>
    <div class="nav-list">
      <div class="hamburger">
        <div class="bar"></div>
      </div>
      <ul>
        <li><a href="#hero" data-after="Home">Home</a></li>
        <li><a  data-after="Projects">Features</a></li>
        <li><a  data-after="About">About</a></li>
        <li><a  data-after="Contact">ContactUs</a></li>
        <li><a  data-after="Contact">Tutorial</a></li>
        <li><a  data-after="Contact">Pricing</a></li>
        <li><a  data-after="Contact">Our Services</a></li>
      </ul>
    </div>
  </div>
</section>
<section id="hero">
<div class="hero container">
  <div>
    <h1>Hello,<span></span></h1>
    <h1>My Name is <span></span></h1>
    <h1>subash<span></span></h1>
  </div>
</div>
</section> -->
