<app-navadd></app-navadd>
<body>
    <div id="contact">
        <div class="contact container">
          <caption>Add Content</caption>
          <div class="contact-items">
            <div class="contact-item">
              <div class="contact-info">
                <form class="section1" [formGroup]="AddGroup"  >
                    <div class="text_field">
                        <input for="Topic" class="form-control" formControlName="Topic" type="text" placeholder="Topic"/> 
                        <span class="text-danger" *ngIf="AddGroup.controls['Topic'].touched && AddGroup.hasError('required','Topic')">
                            *Topic is required!!
                        </span>   
                    </div>
                    <div>
                        <textarea for="message" class="form-control" formControlName="message"  class="text-box" rows="8" name="Message" placeholder="Enter the content here"></textarea>
                    </div><br><br>  
                    <div>
                        <button class="button" type="submit"  (click)="addcontent(this.AddGroup.value)">Add content</button>
                    </div> 
                </form>
              </div>
            </div>
        </div>
    </div>
  </div>
  </body>
    