/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body{
    background-size: cover;
  }
  form .text_field {
    position: relative;
    border-bottom: 2px solid #df4e4e;
    margin: 50px 0;
    
  }
  .text_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #131212;
  }
  .text_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(31, 32, 32);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events:none;
     transition: 0.5s; 
  }
  input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 50px;
    background: #d4786c;
    border-radius: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"] {
    border-color: #2691d9;
    transition: 0.5s;
  }
  .text-box{
      resize: none;
      width: 400px;
      background-color: transparent;
      border-radius: 5px;
      font-size: larger;
      border-color: #080808;    
      color: rgb(27, 28, 29);    
      font-size: 18px; 
      padding: 8px;
  }
  form{
    background: transparent;
  }
  ::placeholder {
    color: rgb(12, 12, 12);
    opacity: 1;
  }
  #footer {
    background-image: linear-gradient(60deg, #0b0b0c 100%, #485563 0%);
  }
  #footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-bottom: 10px;
  }
  #footer h2 {
    color: rgb(15, 15, 15);
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #footer .social-icon {
    display: flex;
    margin-bottom: 30px;
  }
  #footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
  }
  #footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
  }
  #footer .social-item:hover img {
    filter: grayscale(0);
  }
  #footer p {
    color: rgb(15, 15, 15);
    font-size: 1.3rem;
  }
   */


   /* table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 250px;
    background:transparent;
  }
body{
    background-color: rgb(23, 23, 65);
    background-size: cover;
}
button h3{

    border: transparent;
    border-radius: 6px;
}  
  th, td {
    text-align: left;
    padding: 50px;
  }
  h2{
      margin-left: 485px;
      margin-top: 40px;
  }
  
  tr:nth-child(even) {background-color: #f17e7e;} */



  body {
    font-family: 'Roboto';
    display: grid;
    place-items: center;
    margin: 0;
  }
  .main h2{
    color: white;
  }
  
  .page {
    position: relative;
    display: grid;
    grid-template-columns: 200px auto;
    background-image: linear-gradient(-90deg , #3f5efb, #15175b);
    height: 600px;
    width: 100%;
    margin: 40px 0;
    border-radius: 80px;
  }
  
  .menu {
    margin: 20px;
    border-radius: 60px;
    box-sizing: border-box;
    list-style-type: none;
    height: calc(100% - 40px);
    width: 160px;
    background-image: linear-gradient(-40deg , #050b23, #26115f);
  }
  
  .menu a.menu-item {
    display: block;
    text-decoration: none;
  }
  
  .menu a.menu-item:hover .icon,
  .menu a.menu-item.active .icon {
    background-image: linear-gradient(-70deg , #08bfb3, #44e4c4);
    color: #eee;
    border-radius: 10px 10px 0 10px;
    z-index: 2;
  }
  
  .menu a.menu-item:hover .text,
  .menu a.menu-item.active .text {
    background-image: linear-gradient(-90deg , #2a71e5, #1a71a8);
    z-index: -1;
    border-radius: 10px 0 0 10px;
    width: 74%;
  }
  
  .menu .icon {
    position: relative;
    color: #0e8af6;
    margin: 5px;
    padding: 10px;
  }
  
  .menu .text {
    color: #eee;
    padding: 20px 20px 20px 25px;
    margin: 0 0 0 -30px;
    margin-left: 40px;
  }
  
  .menu p {
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
  }
  
  .menu a.logo {
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    visibility: hidden;
  }
  
  .main ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
  }
  
  .main ul li {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-right: 10px solid #44e4c4;
  }
  
  .main ul li:hover {
    transform: scale(1.1);
    box-shadow: 3px 5px 12px #555;
  }
  
  .main ul li div:not(:last-child) {
    border-right: 2px solid #eee;
  }
  
  .main ul li div {
    padding: 5px 10px;
  }
  
  h2 {
    max-width: 150px;
    margin: 10px 20px;
    padding: 10px 40px;
    border-bottom: 3px solid #44e4c4;
  }