/* .container {
    background-image: url("/../assets/background 5.webp");
    background-size: cover;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
  }
  #head1 {
    background-color: rgba(15, 14, 14, 0.74);
    color: white;
  }
  #head {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #button1 {
    margin-left: 30px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid lightblue;
    color: white;
  }
  .navbar-brand {
    color: azure;
  }
  .logout {
    margin-left: 20%;
    width: 50%;
    height: 20%;
  }
  .input1 {
    margin-left: 40%;
    background: transparent;
    border-radius: 20px;
    border: 2px solid lightblue;
    color: white;
    width: 77px;
    height: 37px;
  }
  h1 {
    margin-left: 40%;
  } */