<body>
    <main>
      <div class="top-bg">
        <div class="top">
          <header class="text">
              <h1 class="animate-charcter">Social Media Monitoring</h1>
          </header>
          <div class="second-top">
            <section class="text">
              <h1>
                Managing and monitoring of your online reputation is vital </h1>
  
              <p>“Your repute is our most treasured asset!”</p>
            </section>
            <div class="top-img">
              <img src="../../assets/media 1.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="grow container">
          <div class="text">
  
            <p> Today with the proliferation of the internet and social media, brand reputation has a prodigious impact by the online medium. Unsatisfied or happy customers write about their experiences through the numerous platforms. They blog, tweet, link, share, rate and what not!

            </p>
          </div>
          <img src="../../assets/Media_transparent.png" alt="deco">
        </div>
        <div class="two container">
          <img src="../../assets/media mon.png" alt="">
          <div class="text">
            <h2>Our plethora of social media monitoring services</h2>
  
            <p><ul>
                <li>Media Tracking of India handles blogs, reviews, forums, social networking sites, news etc. 
                   </li>
                <li>Not just opinions, our tools extract sentiment and also perform text analysis.</li>
                <li>Analysis of the demographic profiles of the audience</li>
            </ul>
          </div>
  
        </div>
        <div class="users container">
          <div class="text">
            <h2>customers & your competitor thinks about your products</h2><br>
  
            <p>Social media today is the prominent means of relationship between the consumers and companies that they are buying from. With Media tracking of India’s online media and social media monitoring services, your brand will be on top of online conversation not just constrained to your brand’s reviews but by whom, where, when, how. We are the foundation for better marketing insights and deeper customer perceptions.

            </p>
          </div>
          <img src="../../assets/media monti.jpg" alt="">
        </div>
    </div><br><br>
</main>
</body>
<section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>E</span>asily<span> T</span>rack<span> S</span>ales<span> &</span><span> L</span>eads</h1>
      </div>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/facebook-new.png" alt="Facebook" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/instagram-new.png" alt="Instagram" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/twitter-squared.png" alt="Twitter"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin"/></a>
        </div>
      </div>
      <p style="margin-left: -475px;">Copyright © 2022. All rights reserved</p>
    </div>
  </section>