<body>
  <main>
    <div class="top-bg">
      <div class="top">
        <header class="text">
            <h1 class="animate-charcter">Television Monitoring</h1>
        </header>
        <div class="second-top">
          <section class="text">
            <h1>
              Track Round  <br> the Clock</h1>

            <p>What could be more compelling to track round the clock television news, advertisements and regional/national information?</p>
          </section>
          <div class="top-img">
            <img src="../../assets/tv main.webp" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="grow container">
        <div class="text">
          <h2>Why Need Television Monitoring?</h2>

          <p> Television is one of the most sought after foundations of media. It has a lot of public impact and coverage. In this information explosive era, where the sources of media are overflowing, the task of tracking and storing the disseminated news of your interest from the television is of your concern.</p>
        </div>
        <img src="../../assets/tender.jpg" alt="deco">
      </div>
      <div class="two container">
        <img src="../../assets/tender benifits.jpg" alt="">
        <div class="text">
          <h2>Importance of Television Tracking</h2><br>

          <p>The media plays a crucial role in steering the domain of influence, belief and public understanding on any aspect. Monitoring what the media reports is vital. We at media tracking of India, make sure you don’t miss the arising opportunities that can lead to enhancement of your firm. Being a leading television news monitoring services, we serve both small sized and mid-sized business in the country.</p>
        </div>

      </div>
      <div class="users container">
        <div class="text">
          <h2>THE VARIOUS VIDEO MONITORING SERVICES WE OFFER</h2><br>

          <p style="text-align: left;">
            1) Identifying new business opportunities<br>
            2) Gaining customer insights<br>
            3) Identify competitor innovations<br>
            4) Brand Management and analysis of its market<br>
            5) Industry & demand trends monitoring<br>
            6) Public relations monitoring<br>
            7) Availing the extra leverage than your competitors<br>
            8) Track on scheduled broadcast of the commercials according to the contract.
          </p>
        </div>
        <img src="../../assets/tv 2.svg" alt="">
      </div>
  </div><br><br>
</main>
</body>
<section id="footer">
  <div class="footer container">
    <div class="brand">
      <h1><span>E</span>asily<span> T</span>rack<span> S</span>ales<span> &</span><span> L</span>eads</h1>
    </div>
    <div class="social-icon">
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/facebook-new.png" alt="Facebook" /></a>
      </div>
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/instagram-new.png" alt="Instagram" /></a>
      </div>
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/twitter-squared.png" alt="Twitter"/></a>
      </div>
      <div class="social-item">
        <a href="#"><img src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin"/></a>
      </div>
      <div class="social-item">
        <a><img src="https://img.icons8.com/nolan/64/google-plus.png" alt="linkedin" routerLink="contact" /></a>
      </div>
    </div>
    <p style="margin-left: -475px;">Copyright © 2022. All rights reserved</p>
  </div>
</section>

