<h1>
    Angular Read More| Read less button link example</h1>

<div [ngClass]="{'limitTextHeight': isReadMore}">

    This is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with reading more/less link example in Angular application paragraph text shown here continue continue
    This is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with reading more/less link example in Angular application paragraph text shown here continue
    continue THis is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with reading more/less link example in Angular application paragraph text shown here
    continue continue
</div>
<button type="button" (click)="showText()">
    {{ isReadMore ? 'Read More': 'Read Less' }}
  </button>