<body>
    <div class="center">
        <h1 class="section1" style="color: rgb(90, 90, 248);">New Admin</h1>
        <form class="section1" [formGroup]="signup" >
            <div class="text_field">
                <input for="fname" class="form-control" formControlName="fname" type="text" pattern="^[a-zA-Z]*" placeholder="First Name(User Name)"/> 
                <span class="text-danger" *ngIf="signup.controls['fname'].touched && signup.hasError('required','fname')">
                    *First Name is required!!
                </span>  
                <span class="text-danger" *ngIf="signup.hasError('pattern','fname')">
                    *First Name should be in Alphabets!!!!
                </span>  
            </div>
            <div class="text_field">
                <input for="lname" class="form-control" formControlName="lname" type="text" pattern="^[a-zA-Z]*" placeholder="Last Name"/> 
                <span class="text-danger" *ngIf="signup.controls['lname'].touched && signup.hasError('required','lname')">
                    *Last Name is required!!
                </span>
                <span class="text-danger" *ngIf="signup.hasError('pattern','lname')">
                    *Last Name should be in Alphabets!!!!!!!!
                </span>   
            </div>
            <div class="text_field">
                <input for="email" class="form-control" formControlName="email" type="email"  pattern="^[a-zA-Z0-9+_.-]+@gmail.com" placeholder="Email"/>
                <span class="text-danger" *ngIf="signup.controls['email'].touched && signup.hasError('required','email')">
                    *Email is required!!!!
                </span>   
                <span class="text-danger" *ngIf="signup.hasError('pattern','email')">
                    *valid email required!!!!
                </span> 
            </div>             
            <div class="text_field">
                <input for="password" class="form-control" formControlName="password" pattern="[A-Za-z0-9@!_]{4,}" type="password" placeholder="Password"/>
                <span class="text-danger" *ngIf="signup.controls['password'].touched && signup.hasError('required','password')">
                    *Password is required!!!!
                </span>  
                <span class="text-danger" *ngIf="signup.hasError('pattern','password')">
                    *password should contain atleast 4 characters!!!
                </span>   
            </div><br>
            <div>
                <button class="button" type="submit" (click)="signupdata(this.signup.value)" [disabled]="!signup.valid" value="Send Message">submit</button>
            </div> 
                
        </form>
    </div>
</body>
