*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

  }
  body {
    background: linear-gradient(-45deg, #ca7258, #962852, #1c7ea1, #1aa786);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  .center {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 80%;
    background: transparent;
    border: 2px solid silver;
    border-radius: 20px;
  }
  .center h1 {
    text-align: center;
    padding: 0 0 20px 0;
     border-bottom: 1px solid silver; 
  }
  .center form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .text_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .text_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .text_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: black;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
  }
  .text_field span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 40px;
    left: 0;
    width: 0%;
    height: 2px;
  }
  .text_field input:focus ~ label {
    top: -5px;
    color:white;
  }
  .text_field input:focus ~ span::before,
  .text_field input:valid ~ span::before {
    width: 100%;
  }
  .pass {
    margin: -5px 0 20px 5px;
    color: white;
    cursor: pointer;
  }
  .pass:hover {
    text-decoration: underline;
  }
  input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 50px;
    background: #2691d9;
    border-radius: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input {
    border-color: #2691d9;
    transition: 0.5s;
  }
  .signup_link {
    margin: 30px 0;
    text-align:justify;
    font-size: 16px;
    color:red;
  }
  .signup_link a {
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover {
    text-decoration: underline;
  }
/* ------- */
#footer {
  background-image: linear-gradient(60deg, #0b0b0c 100%, #485563 0%);
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-bottom: 10px;
}
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.3rem;
}
.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  margin-left: 465px;
  margin-right: -400px;
}
.social-icon .social-item img{
  margin-top: 10px;
  height: 100%;
  width: 100%;
  margin-left: 550px;
}
