<body>
    <main>
      <div class="top-bg">
        <div class="top">
          <header class="text">
              <h1 class="animate-charcter">Tender tracking</h1>
          </header>
          <div class="second-top">
            <section class="text">
              <h1>
                Easy to Learn About <br>  Various Tenders </h1>
  
              <p>Won’t it be easy to learn about various tenders at a single go rather than searching in the print media or browsing online for various opportunities?</p>
            </section>
            <div class="top-img">
              <img src="../../assets/tender 1.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="grow container">
          <div class="text">
  
            <p> Irrespective of what news you are in need of, Media tracking of India keeps a track of various types of news related to tenders. Consequently, we celebrate the expansion and success of your firm. Be it a tender by industry, type, client, state , region or sector. MTI offers you a expedient list to enrich your industry.</p>
          </div>
          <img src="../../assets/tender.jpg" alt="deco">
        </div>
        <div class="two container">
          <img src="../../assets/tender benifits.jpg" alt="">
          <div class="text">
            <h2>Benefits of the users</h2><br>
  
            <p>Users can visualize the status on each tendering process by the comprehensive progress report provided by us.
               Cost effective and time saver strategy.
               An opportunity to access our tender base anywhere and at any time.
               We help you to connect with other organizations for greater businesses.</p>
          </div>
  
        </div>
        <div class="users container">
          <div class="text">
            <h2>Winning means to us not bidding</h2><br>
  
            <p>For us bidding for the tender is not sufficient, it is the winning that we focus on. We ensure that we provide you information on all business opportunities so that you can focus your complete attention on winning the tenders. Our tender tracking tools are an extra advantage that enables first hand tender opportunities to our clients. If our clients invest in our services it is our duty to provide them the best of their money's worth..</p>
          </div>
          <img src="../../assets/win tender.jpg" alt="">
        </div>
    </div><br><br>
</main>
</body>
<section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>E</span>asily<span> T</span>rack<span> S</span>ales<span> &</span><span> L</span>eads</h1>
      </div>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/facebook-new.png" alt="Facebook" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/instagram-new.png" alt="Instagram" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/twitter-squared.png" alt="Twitter"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/nolan/64/linkedin.png" alt="linkedin"/></a>
        </div>
        <div class="social-item">
          <a><img src="https://img.icons8.com/nolan/64/google-plus.png" alt="linkedin" routerLink="contact" /></a>
        </div>
      </div>
      <p style="margin-left: -475px;">Copyright © 2022. All rights reserved</p>
    </div>
  </section>